::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
}

@-webkit-keyframes animation {
    from {
        opacity: 0;
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

body {
    font-size: 1.2rem;
    font-family: Arial;
    color: map-get($colors, font);
    margin: 5%;

    .parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;

        .item {
            color: map-get($colors, font);
            text-decoration: none;

            -webkit-animation-name: animation;
            -webkit-animation-duration: 2s;

            .icon {
                width: 70%;
                margin: 5% 15%;
            }

            .name {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    .log {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1080px;
        background: white;
        font-size: 1.5rem;
    }
}